.gitignore~

*.class

# Package Files #
*.jar
*.war
*.ear

# Target #
/target/*

# Idea #
.idea/*
*.iml

# results #
perfcake.log

window-response-time.csv
response-time.csv
throughput.csv
memusage.csv




